@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background:  hsl(225, 100%, 94%);
    min-width: 375px;
    max-width: 1440px;
    font-size: 13px;                                                                                                          
}


.box {
    padding: 30px;
    border-radius: 10px;
}

.box .personal-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box .personal-date img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .personal-date .image {
    border-radius: 50%;
    margin-right: 15px;
}

.box .personal-date img {
    padding: 3px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.box .name {
    font-weight: 700;
}

.box .title {
    margin: 15px 0;
    font-weight: 700;
    font-size: 22px;
}

.box .citacao {
    line-height: 20px;
}

.box-1 {
    background: hsl(263, 55%, 52%);
}

.box-1 .personal-date .image,
.box-4 .personal-date .image {
    background: hsl(263, 58%, 60%);
}

.box-2 {
    background: hsl(217, 19%, 35%);
}

.box-2 .personal-date .image {
    background: hsl(218, 20%, 51%);
}

.box-3 .personal-date .image, 
.box-5 .personal-date .image {
    background: hsl(0, 0%, 83%);
}

.box-3,
.box-5 {
    background: hsl(0, 0%, 100%);
}

.box-4 {
    background: hsl(219, 29%, 14%);
}

.box-1 .name,
.box-2 .name,
.box-4 .name {
    color: hsl(210, 46%, 95%);
}

.box-1 .state,
.box-2 .state,
.box-4 .state {
    color: hsla(210, 46%, 95%, 0.5);
}

.box-1 .title,
.box-2 .title,
.box-4 .title {
    color: hsl(0, 0%, 100%);
}

.box-1 .citacao,
.box-2 .citacao,
.box-4 .citacao {
    color: hsla(0, 0%, 100%, 0.7);
}

.box-3 .name,
.box-5 .name {
    color: hsl(219, 29%, 14%);
}

.box-3 .state,
.box-5 .state {
    color: hsl(219, 29%, 14%, 0.5);
}

.box-3 .title,
.box-5 .title {
    color: hsl(219, 29%, 14%);
}

.box-3 .citacao,
.box-5 .citacao {
    color: hsla(217, 30%, 14%, 0.7);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width:1000px) {

    main {
        width: 375px;
        margin: auto;
        padding: 50px 15px 10px 15px;
    }

    .box {
        margin-bottom: 25px;
    }
}

@media screen and (min-width:1000px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        width: 95%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .left {
        width: 78%;
        margin-right: 25px;
    }

    .right {
        width: 22%;
    }
    .box-1  {
        width: 69%;
    }
    
    .box-2  {
        width: 31%;
    }
    
    .box-3 {
        width: 27%;
    }

    .box-4 {
        width: 73%;
    }
    .box-1, .box-3 {
        margin-right: 25px;
    }
    .left-up {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        /*padding-bottom: 25px;*/
    }

    .left-down {
        padding-top: 25px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}